

.name{
    margin-right: 10px;
}

.setInput{
    display: flex;
    margin-bottom: 10px;
}


.input {
    padding-left:10px;
    width:65px;
    text-align:center;
}

.error {
    border-color: rgb(255, 37, 37);
    background-color: rgb(255, 93, 93);
}


